[package]
name = "rust-tools"
version = "0.1.0"
edition = "2024"

[dependencies]
# Minimalisir fitur tokio
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }

chrono = "0.4"
rayon = "1.10"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# Perbaikan nama fitur di sini: "rustls"
reqwest = { version = "0.13", default-features = false, features = ["json", "rustls"] }

# Tetap gunakan nipper untuk DOM
nipper = "0.1"

# Batasi fitur image hanya yang kamu butuhkan
image = { version = "0.25", default-features = false, features = ["webp", "jpeg", "png"] }
webp = "0.3"
url = "2"
walkdir = "2"
regex = "1"
anyhow = "1"

[profile.release]
opt-level = 'z'     # Fokus kecilkan ukuran
lto = true          # Buang fungsi yang tidak terpakai
codegen-units = 1   # Optimasi lebih maksimal
panic = 'abort'     # Buang fitur error recovery yang berat
strip = true        # Otomatis hapus simbol debug (sangat ampuh potong size)

[[bin]]
name = "seo-fixer"
path = "alat/seo-fixer.rs"

[[bin]]
name = "clean-schema"
path = "alat/clean-schema.rs"

[[bin]]
name = "generator-pro"
path = "alat/generator-pro.rs"
