name: Auto Clean Hidden Unicode (HTML)

on:
  push:
    paths:
      - "**/*.html"
  workflow_dispatch:

jobs:
  autoclean:
    runs-on: ubuntu-latest
    # --- BAGIAN YANG DITAMBAHKAN ---
    container:
      image: ghcr.io/frijal/layarkosong:latest
      options: --user root
    # -------------------------------
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Clean hidden unicode in HTML
        run: |
          find . -type f -name "*.html" -print0 | xargs -0 -r perl -i -CSD -pe 's/\x{00A0}/ /g; s/\x{200B}|\x{200C}|\x{200D}|\x{FEFF}//g'

      - name: Commit changes if any
        run: |
          if ! git diff --quiet; then
            git config --local user.email "github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git add .
            git commit -m "chore: remove hidden unicode characters from HTML"
            git push
          else
            echo "No changes to commit."
          fi
