name: Delete All Discussions

on:
  workflow_dispatch:

jobs:
  delete:
    runs-on: ubuntu-latest
    permissions:
      discussions: write
    steps:
      - name: '1. Checkout Repository'
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - name: '2. Setup Node.js'
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
      - name: Install
        run: npm ci
      - name: Run Delete Script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: node ext/sapu-bersih.js
