name: Docker Build Layar Kosong

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Bun
        uses: oven-sh/setup-bun@f4d14e03ff726c06358e5557344e1da148b56cf7 # v1
        with:
          bun-version: latest

      - name: Build Docker Image
        run: |
          docker build -t layarkosong-app .
          
      - name: Test Running Container
        run: |
          # Tes apakah kontainer bisa nyala dan menjalankan skrip
          docker run --rm layarkosong-app bun --version
