name: Docker Build Layar Kosong

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        with:
          bun-version: latest

      - name: Build Docker Image
        run: |
          docker build -t layarkosong-app .
          
      - name: Test Running Container
        run: |
          # Tes apakah kontainer bisa nyala dan menjalankan skrip
          docker run --rm layarkosong-app bun --version
