name: Renovate Fast

on:
  workflow_dispatch:
  schedule:
    - cron: '0 11 * * *' # 18.00 WITA

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      # 1️⃣ Pastikan folder sementara/ ada
      - name: Prepare cache folder
        run: mkdir -p ${{ github.workspace }}/sementara

      # 2️⃣ Pull image Renovate & simpan fisik di folder sementara/
      - name: Save Renovate Docker image locally
        run: |
          docker pull ghcr.io/renovatebot/renovate:42
          docker save ghcr.io/renovatebot/renovate:42 -o ${{ github.workspace }}/sementara/renovate-42.tar

      # 3️⃣ Load image dari tarball (opsional, kalau mau container manual)
      - name: Load Renovate Docker image
        run: |
          docker load -i ${{ github.workspace }}/sementara/renovate-42.tar

      # 4️⃣ Run Renovate via GitHub Action
      - name: Run Renovate
        uses: renovatebot/github-action@v44.2.6
        with:
          configurationFile: mini/renovate.json5
          token: ${{ secrets.RENOVATE_TOKEN }}
          renovate-version: 42
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ONBOARDING: "false"
          RENOVATE_REQUIRE_CONFIG: "ignored"
          RENOVATE_REPOSITORY_CACHE: ${{ github.workspace }}/sementara
