on:
  schedule:
    - cron: "*/59 * * * *" # tiap 59 menit
  workflow_dispatch:

jobs:
  mastodon:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - run: node ext/post-to-mastodon.js
        env:
          MASTODON_INSTANCE: mastodon.social
          MASTODON_TOKEN: ${{ secrets.MASTODON_TOKEN }}

      - name: Commit state
        run: |
          git config user.name "mastodon-bot"
          git config user.email "bot@users.noreply.github.com"
          git add mini/mastodon-posted.json
          git commit -m "chore: update mastodon posted state" || true
          git push
