name: Mastodon Auto Post

on:
  schedule:
    - cron: "*/59 * * * *" # tiap 59 menit
  workflow_dispatch:

permissions:
  contents: write

jobs:
  mastodon:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Post to Mastodon
        run: node ext/post-to-mastodon.js
        env:
          MASTODON_INSTANCE: mastodon.social
          MASTODON_TOKEN: ${{ secrets.MASTODON_TOKEN }}

      - name: Commit state
        run: |
          git config user.name "mastodon-bot"
          git config user.email "bot@users.noreply.github.com"

          git add mini/mastodon-posted.json || true
          git commit -m "chore: update mastodon posted state" || true
          git push || true
