name: Token Auto Refresh LinkedIn

on:
  schedule:
    - cron: '0 0 */50 * *' # Jalan tiap 50 hari
  workflow_dispatch:

jobs:
  refresh-linkedin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: true

      - name: Cache Node Modules
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm ci

  #    - name: Install axios
  #      run: npm install axios

      - name: Get New LinkedIn Token
        id: get_token
        env:
          LINKEDIN_ACCESS_TOKEN: ${{ secrets.LINKEDIN_ACCESS_TOKEN }}
          LINKEDIN_CLIENT_ID: ${{ secrets.LINKEDIN_CLIENT_ID }}
          LINKEDIN_CLIENT_SECRET: ${{ secrets.LINKEDIN_CLIENT_SECRET }}
        run: |
          NEW_TOKEN=$(node ext/refresh-linkedin-token.js)
          echo "NEW_LI_TOKEN=$NEW_TOKEN" >> $GITHUB_ENV

      - name: Update GitHub Secret
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          gh secret set LINKEDIN_ACCESS_TOKEN --body "$NEW_LI_TOKEN" --repo ${{ github.repository }}
