name: Renovate
on:
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.5
        with:
          configurationFile: mini/renovate.json5 # Pastikan file ini ada di folder 'mini'
          token: ${{ secrets.RENOVATE_TOKEN }}
