name: Renovate
on:
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.5
        with:
          configurationFile: mini/renovate.json5
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          # Kasih tahu dia harus nge-scan repo ini
          RENOVATE_REPOSITORIES: ${{ github.repository }}       
          # INI OBATNYA: Paksa dia amnesia dan anggap belum pernah onboarding
          RENOVATE_ONBOARDING: "true"
          RENOVATE_FORCE_CONFIG_MIGRATION: "true"
