name: RenovateX

on:
  workflow_dispatch:
    inputs:
      repoCache:
        description: 'Reset atau disable cache?'
        type: choice
        default: enabled
        options:
          - enabled
          - disabled
          - reset
  schedule:
    - cron: '0 10 * * *' # 18:00 WITA

env:
  CACHE_KEY: renovate-cache-main
  CACHE_ARCHIVE: renovate_cache.tar.gz
  CACHE_DIR: /tmp/renovate/cache/renovate/repository

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # pastikan semua branch tersedia

      - name: Download previous cache
        uses: dawidd6/action-download-artifact@v12
        if: github.event.inputs.repoCache != 'disabled'
        continue-on-error: true
        with:
          name: ${{ env.CACHE_KEY }}
          path: cache-download
          workflow_conclusion: success

      - name: Extract renovate cache
        run: |
          set -e
          mkdir -p ${{ env.CACHE_DIR }}
          if [ -d cache-download ] && [ "${{ github.event.inputs.repoCache }}" != "reset" ]; then
            tar -xzf cache-download/${{ env.CACHE_ARCHIVE }} -C ${{ env.CACHE_DIR }}
          fi
          sudo chown -R $USER:$(id -g) ${{ env.CACHE_DIR }}

      - name: Run Renovate
        uses: renovatebot/github-action@v44.2.6
        with:
          configurationFile: mini/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
          renovate-version: full
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_REPOSITORY_CACHE: ${{ github.event.inputs.repoCache || 'enabled' }}
          RENOVATE_ENABLE_RETRY: "true" # enable retry otomatis jika branch gagal

      - name: Compress renovate cache
        if: github.event.inputs.repoCache != 'disabled'
        run: |
          tar -czvf ${{ env.CACHE_ARCHIVE }} -C ${{ env.CACHE_DIR }} .

      - name: Upload cache to artifact
        if: github.event.inputs.repoCache != 'disabled'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.CACHE_KEY }}
          path: ${{ env.CACHE_ARCHIVE }}
          retention-days: 3
