name: RSS to Discussions Sync Professional

on:
  schedule:
    # Berjalan otomatis setiap 12 jam (Pukul 00:00 dan 12:00 UTC)
    - cron: '0 */23 * * *'
  workflow_dispatch: # Memungkinkan kamu menjalankan manual lewat tombol di tab Actions

jobs:
  sync:
    runs-on: ubuntu-latest
    
    # Izin (permissions) ini KRUSIAL agar bot bisa membuat diskusi dan label
    permissions:
      discussions: write
      contents: read
      issues: write # Dibutuhkan oleh Octokit untuk membuat label baru

    steps:
      - name: '1. Checkout Repository'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 1
          persist-credentials: true

      - name: Cache Node Modules
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: '2. Setup Node.js'
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24'

      - name: Install Dependencies
        run: |
          npm ci

      - name: Run RSS Sync Script
        env:
          # Token rahasia bawaan GitHub untuk autentikasi API
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node ext/bikin-rss-diskusi.js
